@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.footer__container {
  margin-left: 160px;
  margin-right: 160px;
  margin-top: 16px;
}

.header__container {
  margin-top: 33px;
  margin-left: 160px;
  margin-right: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__container .header__nav ul {
  display: flex;
  list-style: none;
  gap: 56px;
  font-size: 18px;
}
.header__container .header__nav ul li a {
  text-decoration: none;
  color: grey;
  position: relative;
}
.header__container .header__nav ul li a.active, .header__container .header__nav ul li a:hover {
  color: #F38160;
  position: relative;
}
.header__container .header__nav ul li a.active::before, .header__container .header__nav ul li a:hover::before {
  position: absolute;
  top: 25px;
  left: 10%;
  content: "";
  width: 80%;
  height: 3px;
  background-color: #F38160;
  color: #F38160;
}
.header__container .header__aside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.header__container .header__aside-shop-bag {
  position: relative;
}
.header__container .header__aside-shop-bag-circle {
  width: 10px;
  height: 10px;
  background-color: #F38160;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0px;
}
.header__container .header__aside-shop-bag-img {
  margin-right: 10px;
}
.header__container .header__aside .header__aside__a-in {
  color: #F38160;
}
.header__container .header__aside .header__aside__a-up {
  color: #FAFAFA;
  background-color: #F38160;
  padding: 16.5px 40.5px;
  border-radius: 10px;
  text-decoration: none;
}

.main__container {
  margin-left: 160px;
  margin-right: 160px;
  margin-top: 78px;
  padding-bottom: 50px;
}
.main__container .hero {
  max-width: 50%;
}
.main__container .hero__top h1 {
  font-size: 80px;
  font-weight: 700;
  color: #403C39;
  margin-bottom: 16px;
}
.main__container .hero__top h1 .orange {
  color: #F38160;
}
.main__container .hero__top p {
  font-size: 26px;
  color: #949494;
  line-height: 40px;
  margin-bottom: 48px;
  max-width: 600px;
}
.main__container .hero .hero__search-input {
  display: flex;
  align-items: stretch;
  min-width: 500px;
  margin-bottom: 40px;
}
.main__container .hero .hero__search-input-left {
  background-color: #F3F3F4;
  border: 0;
  padding: 28px 0px 28px 32px;
  min-width: 54%;
  border-radius: 10px 0px 0px 10px;
}
.main__container .hero .hero__search-input-left::placeholder {
  color: #949494;
  font-weight: 300;
  font-size: 18px;
}
.main__container .hero .hero__search-input-right {
  background-color: #F38160;
  border: 0;
  min-width: 8%;
  border-radius: 0px 10px 10px 0px;
}
.main__container .hero .hero__search-input-right:hover {
  cursor: pointer;
}
.main__container .hero__list {
  width: 50%;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 16px;
}
.main__container .hero__list li {
  color: #949494;
  font-weight: 400;
  font-size: 18px;
  position: relative;
  padding-left: 30px;
}
.main__container .hero__list li::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  background-image: url("../img/icon__check.svg");
  background-size: 20px;
  background-position: center center;
  background-repeat: no-repeat;
}/*# sourceMappingURL=style.css.map */