.main__container{
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 78px;
    .hero{
        max-width: 50%;
        &__top{
            h1{
                font-size: 80px;
                font-weight: 700;
                color: $black;
                margin-bottom: 16px;
                .orange{
                    color: $orange;
                }
            }
            p{
                font-size: 26px;
                color: $grey;
                line-height: 40px;
                margin-bottom: 48px;
                max-width: 600px;
            }
        }
        &__search-grid{
            background-color: $orange;
            display: grid;
            grid-template-columns: 85% 15%;
            align-items: center;
            margin-bottom: 40px;
            max-width: 500px;
            border-radius: 10px;
            &-left{
                background-color:#F3F3F4;
                padding: 17px 0px 17px 32px;
                color: $grey;
                min-height: 70px;
                align-items: center;
                display: flex;
                border-radius: 10px 0px 0px 10px;
            }
            &-right{
                background-color: $orange;
                display: flex;
                align-items: center;
                justify-items: center;
                justify-content: center;
            }
        }
        &__list ul{
            list-style-image: url("../img/icon__check.svg");
            display:grid;
            gap: 16px;
            grid-template-columns: 1fr 1fr;
            // padding: 0px;
            li{
                font-size: 18px;
                color: $grey;
            }
        }
    }

}