.main__container {
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 78px;

    .hero {
        max-width: 50%;

        &__top {
            h1 {
                font-size: 80px;
                font-weight: 700;
                color: $black;
                margin-bottom: 16px;

                .orange {
                    color: $orange;
                }
            }

            p {
                font-size: 26px;
                color: $grey;
                line-height: 40px;
                margin-bottom: 48px;
                max-width: 600px;
            }
        }

        .hero__search-input {
            display: flex;
            align-items: stretch;
            min-width: 500px;

            &-left {
                background-color: #F3F3F4;
                border: 0;
                padding: 28px 0px 28px 32px;
                min-width: 52%;
                border-radius: 10px 0px 0px 10px;

            }

            &-right {
                background-color: $orange;
                border: 0;
                min-width: 10%;
                border-radius: 0px 10px 10px 0px;

                &:hover {
                    cursor: pointer;
                }
            }

        }

        &__list ul {
            margin-top: 40px;
            list-style-image: url("../img/icon__check.svg");
            display: grid;
            grid-template-columns: 1fr 1fr;

            li {
                font-size: 18px;
                color: $grey;
            }
        }

    }

}